.grid {
  padding: 10% 6% 0% 6%;
  margin: 0px;
  /* grid style */
  display: grid;
  grid-auto-flow: row dense;

  /* extra styles */
  grid-gap: 0rem;
}

.col1 {
  grid-column-start: 1;

  /* extra styles */
  background-color: #def;
  width: 100%;
  padding: 0rem;
  margin: 0;
}

.col2 {
  grid-column-start: 2;
  background-color: #abc;

  /* Small Devices, Tablets */
  
}

@media screen and (max-width: 768px) {
    .col2 {
        grid-column-start: 1;
    }
}